.logo-container {
  display: flex;
  align-items: center;

  &__logo {
    height: 40px;
  }

  &--large {
    .logo-container__logo {
      height: 150px;
    }

    .logo-container__title {
      font-size: 40px;
    }
  }
}
