@import '../../styles/mixins';

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  box-shadow: 2px 0 5px 0 grey;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__links-container {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__link {
    @include flexCenter;
    padding: 0 5px;
    margin: 0 5px;
  }
}
