@import "../../styles/mixins";

.tasks-column {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: fit-content;
  max-height: 100%;
  margin: 0 1%;
  padding: 2%;
  @include card;
  overflow-y: auto;

  &__delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__title {
    margin-left: 10%;
    margin-bottom: 5%;
  }

  &__tasks {
    margin-left: 5%;
    list-style: none;
  }
}
